body {
    background-color: #161616;
}

.navbar {
    color: white;
    background-image: linear-gradient(black, transparent);
}

.navbar:hover {
    background-color: black;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}


/* ========== mega menu ============= */
.nav-category-header {
    margin-bottom: 0;
}


#overlay {
    display: none;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

#overlay:hover, .megamenu-bg:hover {
    display: block;
}

a.nav-link > i,
h6.nav-category-header > i {
    font-size: 16px;
    visibility: hidden;
}

a.nav-link:hover > i {
    visibility: visible;
}

a.nav-link {
    color: gray;
    transition: none;
}

.nav-link:hover {
    color: white;
}

/* Full column highlighting 
.navbar .col:hover>*, .navbar .col:hover .nav-link-list>* {
    color: white;
}*/

/* Header only highlighting */
.navbar .col:hover > .nav-header {
    color: white;
}

.nav-category-header {
    color: #b5b5b5;
}

.nav-header {
    line-height: 36px;
}

.nav-header,
.nav-category-header {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
}


#home-featured-carousel {

    background: gray;
}

/*
.carousel-item {
    width: auto;
}

.carousel-caption {
    position: absolute;
    left: 0;
    text-align: left;
    margin: 0;
    padding: 0;
}
.carousel-caption h5 {
    margin: 0;
    font-size: 30px;
}
.carousel-caption p {
    margin: 0;
    font-size: 20px;
}*/

#home-new-arrivals {
    color: white;
    text-align: center;
}

.megamenu-contents {
    background: black;
}

.megamenu-col {
    width: 8rem
}

.nav-link + .megamenu-contents {
    display: none;
}

.nav-link:hover + .megamenu-contents,
.megamenu-contents:hover {
    display: block;
}

.megamenu-bg {
    background-color: black;
    height: 16rem;
    z-index: 1000;
}
